<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <style>
        .toggleColor{
            background-color: red;
        }
    </style>
    <title>Component</title>
</head>
<body>
    <div id="root">
        <message title="Hello World" description="bla bla bla"></message>
        <message title="Hello World 2" description="bla bla bla 2"></message>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="/component/message/main.js"></script>
</body>
</html>